<style>
  .box {
       float: left;
       width: 40%;
       margin-right: 1%;
       box-sizing: border-box;
  }
  .holeBox {
       float: left;
       width: 99%;
       margin-right: 1%;;
       box-sizing: border-box;
  }
  .allBox{
       float: left;
       width: 99%;
       margin-right: 1%;
       padding: 26px;
       box-sizing: border-box;
  }
  .center {
    text-align: center;
  }
</style>
<section>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">SKC AMNOG</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="dashboard">Newsfeed</a></li>
        <li><a href="../mains">Datenbank</a></li>
        <li><a href="../mains/show">Suche</a></li>
        <li><a href="../endpoints/show">EP-Suche</a></li>
        <li><a href="../main/show">Datenverwaltung</a></li>
        <li> <%= link_to "Ausloggen", destroy_skc_session_path, method: :delete %></li>
      </ul>
    </div>
  </nav>
</section>

<section>    
    <h1>Newsfeed</h1>
</section>   

<section class="allBox">
  <section  class="box">
    <%= column_chart @graph  %>
    <h4 class="h4" align="center">Abgeschlossene Beschlussfassungen nach Zusatznutzenkategorie</h4>
  </section>
  <section  class="box">
    <%= column_chart @graph_two %>
    <h4 class="h4" align="center">Abgeschlossene Beschlussfassungen nach der höchsten Zusatznutzenkategorie</h4>
  </section>
</section>

<section>
   <h4>Verfahren begonnen: <%= Main.where("status = 'Verfahren nach  §35a SGB V begonnen'").count %>, Stellungnahmeverfahren eröffnet: <%= Main.where("status = 'Stellungsnameverfahren eröffnet'").count %>, Beschlussfassung wird erwartet: <%= Main.where("status = 'Beschlussfassung wird vorbereitet'").count %>, Verfahren abgeschlossen: <%= Main.where("status = 'Verfahren abgeschlossen'").count %>, Verfahren eingestellt: <%= Main.where("status = 'Verfahren eingestellt'").count  %></h4>
</section>

<section class="allBox">
    <% @mains.each do |main| %>
    <section class="holeBox">
      <details>
          <summary>
            <li><h4><u><%= main.status %> <%= main.end_procedure %> für <%=main.drug_name%></u></h4></li>
          </summary>
          <section class="box">
            <ul>Wirkstoff: <%= main.drug_name %></ul>
            <ul>Handelsname: <%= main.brand_name %></ul>
            <ul>Hersteller: <%= main.manufacturer %></ul>
            <ul>Anwendungsgebiet: <%= main.field_of_application %></ul>
          </section>
          <section class="box">
            <ul>Orphan-Status: <%= main.orphan_drug %></ul>
            <ul>Subgruppen: <%= main.subgroups %></ul>
            <ul>Indikation: <%= main.indication %></ul>
	    <ul>G-BA Eintrag :<%= link_to "Hier", "https://www.g-ba.de/bewertungsverfahren/nutzenbewertung/#{main.gba_number}/", :target => "_blank" %></ul>
          </section>
        </details>
      </section>
    <% end %>
</section>
