<style>
  .box {
       float: left;
       width: 48%;
       margin-right: 2%;
       box-sizing: border-box;
  }
  .holeBox {
       float: left;
       width: 99%;
       margin-right: 1%;
       padding: 20px;
       box-sizing: border-box;
  }
</style>


<section>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">SKC AMNOG</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="dashboard">Newsfeed</a></li>
        <li class="active"><a href="mains">Datenbank</a></li>
        <li><a href="../mains/show">Suche</a></li>
        <li><a href="../endpoints/show">EP-Suche</a></li>
        <li><a href="../main/show">Datenverwaltung</a></li>
        <li> <%= link_to "Ausloggen", destroy_skc_session_path, method: :delete %></li>
      </ul>
    </div>
  </nav>
</section>

<header class="holeBox">
    <h1 class="h1">Datenbank</h1>
</header>
<section class="holeBox">
  <section = class="box">
    <%= pie_chart Main.group(:status).count , titel: "Value" %>
    <h4 class="h4" align="center">Verfahrenstatus</h4>
  </section>
  <section = class="box">
    <%= pie_chart Main.where("status = 'Verfahren abgeschlossen'", params[:status]).group(:field_of_application).count %>
    <h4 class="h4" align="center">Anwendungsgebiete abgeschlossener Verfahren</h4>
  </section>
</section>

<section class="holeBox">
     <h1 class="holeBox">Datentabelle:</h1>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Verfahrensnummer</th>
                <th>Wirkstoff</th>
                <th>Handelsname</th>
                <th>pharm. Unternehmen</th>
                <th>Verfahrensstatus</th>
                <th>Indikation</th>
                <th>Anwendungsgebiet</th>
                <th>Orphan-Status</th>
                <th>Subgruppe(n) Dossier</th>
		<th>Subgruppen G-BA</th>
		<th>Ansicht</th>
            </tr>
        </thead>
        <tbody>
            <% @mains.each do |main| %>
                <tr>
                    <td><%= main.gba_number %></td>
                    <td><%= main.drug_name %></td>
                    <td><%= main.brand_name %></td>
                    <td><%= main.manufacturer %></td>
                    <td><%= main.status %></td>
                    <td><%= main.indication %></td>
                    <td><%= main.field_of_application %></td>
                    <td><%= main.orphan_drug %></td>
                    <td><%= main.subgroup_count %></td>
	    	    <td><%= main.gbssubgroup_count %></td>
		    <td><%= link_to "Übersicht anzeigen" , edit_mains_path(main.id) %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</section>
