<style>
.holeBox {
     float: left;
     width: 99%;
     margin-right: 1%;
     padding: 6px;
     box-sizing: border-box;
}
.casing {
     float: left;
     width: 99%;
     box-sizing: border-box;
}

.Box {
     float: left;
     width: 40%;
     margin-right: 1%;
     padding: 1px;
     box-sizing: border-box;
}
</style>

<% javascript_include_tag "http://www.google.com/jsapi", "chartkick" %>


<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<section>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">SKC AMNOG</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="../dashboard">Newsfeed</a></li>
        <li><a href="../mains">Datenbank</a></li>
        <li class="active"><a href="show">Suche</a></li>
        <li><a href="../endpoints/show">EP-Suche</a></li>
        <li><a href="../main/show">Datenverwaltung</a></li>
        <li> <%= link_to "Ausloggen", destroy_skc_session_path, method: :delete %></li>
      </ul>
    </div>
  </nav>
</section>
<header class="holeBox">
    <h1 class="h2">Suche</h1>
</header>



 <section class="casing">
  <section class="Box">
    <%= pie_chart @result.count , library: {legend: {position: "left"}}%>
     <h4 class="h4" align="center">Anwendungsgebiete der Verfahren</h4> 
  </section>
  
  <section class="Box">
    <%=  pie_chart @orphan.count %>
    <h4 class="h4" align="center">Orphan-Status der Verfahren</h4>
  </section>
 </section>
<h1 class="h3">Ergebnisse: <%= @mains.length %></h1>
      <%=  button_to "Export", export_mains_path(@test)%>
<section class="holeBox">
  <section class="search-form">
      <%= form_for :mains, method: :get do |f| %>
          <div class="input-group input-group-sm">
              <%= label_tag :keywords, nil, class: "sr-only" %>
              <%= text_field_tag :keywords, nil,
                  placeholder:  "Wirkstoffname, Handelsname, pharm. Unternehmen, Anwendungsgebiet und Orphan Drug ",
                  class: "form-control input-sm" %>
                <span class="input-group-btn">
                      <%= submit_tag "Suchen",
                          class: "btn btn-info " %>
                      </span>
          </div>
        <% end %>
  </section>
</section>


<section class="holeBox">
  <section class="search-results">
      <table class="table table-bordered table-striped">
          <thead>
              <tr>
                <th>Verfahrensnummer</th>
                <th>Wirkstoff</th>
                <th>Handelsname</th>
                <th>pharm. Unternehmen</th>
                <th>Indikation</th>
                <th>Anwendungsgebiet</th>
                <th>Orphan-Status</th>
                <th>Subgruppe(n) Dossier</th>
		<th>Subgruppe(n) G-BA</th>
                <th>Ansicht</th>
	     </tr>
          </thead>
          <tbody>
              <% @mains.each do |main| %>
                  <tr>
                    <td><%= main.gba_number %></td>
                    <td><%= main.drug_name %></td>
                    <td><%= main.brand_name %></td>
                    <td><%= main.manufacturer %></td>
                    <td><%= main.indication %></td>
                    <td><%= main.field_of_application %></td>
                    <td><%= main.orphan_drug %></td>
		    <td><%= Subgroup.where("verfahrensnummer = %s", main.gba_number).count%></td>
		    <td><%= Gbasubgroup.where("verfahrensnummer = %s", main.gba_number).count %></td>
		    <td><%= link_to "Übersicht anzeigen" , edit_mains_path(main.id) %></td>
                  </tr>
                <% end %>
          </tbody>
      </table>
  </section>
</section>

