<style>
.box {
     float: left;
     width: 39%;
     margin-right: 10px;
     margin-left: 10px;
     padding: 10px;
     box-sizing: border-box;
}
.smallbox {
     float: left;
     width: 40%;
     padding: 1px;
     box-sizing: border-box;
}
.minibox { 
     float: left;
     width: 19%;
     padding: 1px;
     box-sizing: border-box;
}
.casing {
     float: left;
     width: 100%;
     padding: 1px;
     box-sizing: border-box;
}
</style>


<h2>Verfahren</h2>
<% @skc = current_skc %>
<section class="box">
<div class="casing">
<%= form_for @main do |f| %>
                <%= f.hidden_field :updated_by , :value => @skc.email %>
                <%= f.hidden_field :updated_at , :value => Time.now %> 
                <div class="smallbox">G-BA Verfahrensnummer</div><div class="smallbox"><%= f.number_field :gba_number %> </div><br />
                <div class="smallbox">Wirkstoff</div><div class="smallbox"><%= f.text_field :drug_name %></div> <br />
                <div class="smallbox">Handelsname</div><div class="smallbox"><%= f.text_field :brand_name %> </div><br />
                <div class="smallbox">Pharmazeutisches Unternehmen</div><div class="smallbox"> <%= f.text_field :manufacturer %> </div><br />
                <div class="smallbox">Anwendungsgebiet</div><div class="smallbox"><%= f.select(:field_of_application, options_for_select([['Kardiologie' , 'Kardiologie'],['Dermatologie' , 'Dermatologie'],['Krankheit des Muskel-Skelett-Systems','Krankheit des Muskel-Skelett-Systems'],['Krankheit des Atmungssystems','Krankheit des Atmungssystems'],['Gastroenterologie' ,'Gastroenterologie'],['Hämatologie' , 'Hämatologie'],['Immunologie' , 'Immunologie'],['Infektiologie' , 'Infektologie'],['Stoffwechselkrankheit' , 'Stoffwechselkrankheit'],['Neurologie' , 'Neurologie'],['Onkologie' , 'Onkologie'],['Ophthalmologie' , 'Ophthalmologie'],['Krankheiten des Urogenitalsystems','Krankheiten des Urogenitalsystems'],['Sonstiges' , 'Sonstiges']], selected: @main.field_of_application)) %></div> <br />               
		<div class="smallbox">Indikation</div><div class="smallbox"><%= f.text_area :indication %></div> <br />
                <div class="smallbox">Label</div><div class="smallbox"><%= f.text_area :label %></div> <br />	
                <div class="casing"><div class="smallbox">Orphan Wirkstoff</div><div class="smallbox"><%= f.check_box :orphan_drug %></div></div> <br />
                <div class="casing"><div class="smallbox">Ersteinreichung</div><div class="smallbox"><%= f.check_box :erst_einreichung %></div></div> <br />
                <div class="casing"><div class="smallbox">Neues Anwendungsgebiet</div><div class="smallbox"><%= f.check_box :new_field %></div></div> <br />
                <div class="smallbox">Erneute Nutzenbewertung auf Antrag des pharm. Unternehmers nach § 14 (5. Kap. § 1 Abs. 2 Nr. 6 VerfO)</div><div class="smallbox"><%= f.check_box :science %></div> <br />
                <div class="casing"><div class="smallbox">Erneute Nutzenbewertung §13 (neue wissenschaftliche Erkenntnisse)</div><div class="smallbox"><%= f.check_box :basic_evidence %></div></div> <br />
                <div class="casing"><div class="smallbox">Neubewertung nach Fristablauf</div><div class="smallbox"><%= f.check_box :expired_time %></div></div> <br />
                <div class="casing"><div class="smallbox">Überschreitung der 1 Mio. Euro-Grenze</div><div class="smallbox"><%= f.check_box :over_one_million %></div></div> <br />
                <div class="casing"><div class="smallbox">Überschreitung der 50 Mio. Euro-Grenze</div><div class="smallbox"><%= f.check_box :exceedance_money %></div></div> <br />
                <div class="casing"><div class="smallbox">Aufhebung des Orphan Drug-status</div><div class="smallbox"><%= f.check_box :lors_of_odd %></div></div> <br />
                <div class="smallbox">Verfahrensstatus</div><div class="smallbox"><%= f.select(:status, options_for_select([['Verfahren nach §35a SGB V begonnen' , 'Verfahren nach  §35a SGB V begonnen'],['Verfahren abgeschlossen' , 'Verfahren abgeschlossen'],['Beschlussfassung wird vorbereitet' , 'Beschlussfassung wird vorbereitet'],['Stellungsnameverfahren eröffnet','Stellungsnameverfahren eröffnet'],['Verfahren freigestellt','Verfahren freigestellt'],['Verfahren eingestellt','Verfahren eingestellt'],['kein Status','kein Status']], selected: @main.status)) %></div>  <br />
                <div class="smallbox">Beginn des Verfahrens</div><div class="smallbox"><%= f.date_field :start_procedure %> </div><br />
                <div class="smallbox">Beschlussfassung</div><div class="smallbox"><%= f.date_field :end_procedure %> </div><br />
                <div class="smallbox">Befristung des Beschlusses</div><div class="smallbox"><%= f.date_field :befristung %> </div><br />
                <%= f.hidden_field :benefit_percentige , :value => 0 %> <br />
                <%= f.submit "save procedure" %>
                <% end %>
</div>
</section>
