<% if !flash[:notice].blank? %>
   <div class = "alert alert-info">
      <%= flash[:notice] %>
   </div>
<% end %>

<br />

<%= link_to "Neue CSV", new_pricedatum_path, class: "btn btn-primary" %>
<br />
<br />

<table class = "table table-bordered table-striped">
   <thead>.
      <tr>
         <th>CSV Datum</th>
         <th>Download Link</th>
         <th> </th>
      </tr>
   </thead>
   
   <tbody>
      <% @pricedata.each do |price| %>
         
         <tr>
            <td><%= price.date %></td>
            <td><%= link_to "Download CSV", price.attachment_url %></td>
            <td><%= button_to "Delete",  price , method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete ?" %></td>
         </tr>
         
      <% end %>
   </tbody>
   
</table>
